<nav class="navbar navbar-expand-lg" [ngClass]="{'fixed': isScrolled}">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/globbly_logo.png" alt="Globbly Logo">
    </a>  

    <i class="bi bi-list smallmenuicon" (click)="toggleNav()"></i>
    <ul class="navbar-nav big_menu">
      <li>
        <a (click)="showcontent('home')">Home</a>
      </li>
      <li>
        <a (click)="showcontent('category')">Categories</a>
      </li>
      <li>
        <a (click)="showcontent('newarrivals')">New Arrivals</a>
      </li>
      <li>
        <a (click)="showcontent('blogs')">Blogs</a>
      </li>
      <li>
        <a (click)="showcontent('aboutus')">About Us</a>
      </li>
      <li>
        <a class="contact_us" (click)="showcontent('aboutus')">
          <i class="bi bi-headset"></i>
          Contact Us</a>
      </li>
    </ul>
  </div>

  @if(show_small_menu){
    <ul class="navbar-nav small_menu" >
      <li>
        <a (click)="showcontent('home')">Home</a>
      </li>
      <li>
        <a (click)="showcontent('category')">Categories</a>
      </li>
      <li>
        <a (click)="showcontent('newarrivals')">New Arrivals</a>
      </li>
      <li>
        <a (click)="showcontent('blogs')">Blogs</a>
      </li>
      <li>
        <a (click)="showcontent('aboutus')">About Us</a>
      </li>
      <li>
        <a class="contact_us" (click)="showcontent('aboutus')">
          <i class="bi bi-headset"></i>
          Contact Us</a>
      </li>
    </ul>
  }
  
</nav>

<div class="container-fluid headerPage" id="home">
  <div class="row col_head_image">
    <img src="assets/images/main_header.png" alt="" srcset="" class="image_bg">
    <div class="col_head_line row">
      <div class="col-md-6 col_head_line_data">
        <h2>
          Discover Exclusive Deals <br> on Global Products!
        </h2>

        <p>
          Bringing the World to Your Doorstep – Secure and Fast International Shipping on All Orders!
        </p>

        <button class="contact_us">
          Learn More
        </button>
      </div>
      <div class="col-6 col_head_line_img">
        <img src="assets/images/automation.png" alt="" srcset="">
      </div>
      <div class="col-12 main_header_bottom">
        <div class="row main_header_bottom_row">
          <div class="col-2">
            <img src="assets/images/Quality Assurance png.png" alt="" srcset="">
            <h4>
              Quality Assurance
            </h4>
          </div>
          <div class="col-2">
            <img src="assets/images/Secure payment.png" alt="" srcset="">
            <h4>
              Secure Payments
            </h4>
          </div>
          <div class="col-2">
            <img src="assets/images/TopBrands.png" alt="" srcset="">
            <h4>
              Top Brands
            </h4>
          </div>
          <div class="col-2">
            <img src="assets/images/Exclusive deals.png" alt="" srcset="">
            <h4>
              Exclusive Deals
            </h4>
          </div>
          <div class="col-3">
            <img src="assets/images/customercare.png" alt="" srcset="">
            <h4>
              24/7 Customer Support
            </h4>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid" id="newarrivals">
  <div class="row part1">
    <div class="col-12 colheading_part1">
      <h4>Top-Rated Essentials in Automation</h4>
      <p>Explore our bestselling products engineered for efficiency, durability, and precision. Whether you’re
        optimizing industrial controls, securing reliable power supplies, or fine-tuning control interfaces, these
        top-performing components lead the way in automation technology. From advanced PCBs and control interfaces to
        robust PLC systems, our bestsellers are trusted by industry leaders for seamless integration and superior
        performance. </p>
    </div>

    <div class="col-12 mt-3">
      <div class="row p-2">
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product1.jpg" alt="">
            Delta VFD-EL-W series compact vector control drive
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product2.jpg" alt="">
            Siemens Plc S7-200 SMART,S7-1200,S7-1500
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product3.jpg" alt="">
            HCiR-Honeywell-Control-Interface
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product4.jpg" alt="">
            Allen Bradley 1606-XLB480E XLB
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product5.jpg" alt="">
            Schneider Electric Make 5NO TeSys Deca DC
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/product6.jpg" alt="">
            Omron Sysmac PLC CPU CP1W-AD041 CP1W-40EDR
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" id="category">
  <div class="row part2">
    <div class="col-12 colheading_part1">
      <h4>Explore Our Key Automation Categories</h4>
      <p>Dive into our comprehensive range of automation categories tailored to meet your industrial needs. From
        Industrial Controls designed to ensure precision and consistency, to Power Supplies built for enduring
        performance, each category is crafted to support complex projects with ease. Discover high-quality PCBs for
        intricate circuitry, Control Interfaces for seamless management, and PLCs that bring efficiency to every
        process.</p>
    </div>

    <div class="col-12 mt-3">
      <div class="row p-2">
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category1.png" alt="">
            Industrial Automation
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category2.png" alt="">
            Healthcare Automation
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category3.png" alt="">
            Power Supplies
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category4.png" alt="">
            Network Security
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category5.png" alt="">
            Industrial Computing
          </div>
        </div>
        <div class="col-lg-4 col-sm-6  p-3">
          <div class="quality_product_div">
            <img src="assets/images/category6.png" alt="">
            Process Control
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" id="blogs">
  <div class="row part1">
    <div class="col-12 colheading_part1">
      <h4>Why Choose Globbly</h4>
    </div>
  </div>

  <div class="row part3">
    <div class="col-md-6 p-3 quality_product_div">

      <img src="assets/images/Global Reach with Local Expertise.jpg" alt="">

    </div>

    <div class="col-md-6 p-3 quality_product_div2">

      <h4>Global Reach with Local Expertise</h4>
      <div class="myunderline"></div>

      <p>Globbly combines a worldwide network with in-depth local knowledge, offering automation solutions tailored to
        your region’s specific needs and standards. Our team’s expertise ensures that you’re always aligned with best
        practices globally and locally.</p>

      <button class="contact_us">
        Learn More
      </button>

    </div>

    <div class="col-md-6 p-3 quality_product_div2">

      <h4> Quality & Reliability in Every Product</h4>
      <div class="myunderline"></div>

      <p>We prioritize quality in everything we offer. From durable industrial controls to precise PLC systems,
        Globbly’s products are rigorously tested for performance and reliability, providing peace of mind for all your
        critical operations.</p>

      <button class="contact_us">
        Learn More
      </button>

    </div>

    <div class="col-md-6 p-3 quality_product_div">

      <img src="assets/images/Quality & Reliability in Every Product.jpg" alt="">

    </div>

    <div class="col-md-6 p-3 quality_product_div">

      <img src="assets/images/Innovative, Scalable Solutions.jpg" alt="">

    </div>

    <div class="col-md-6 p-3 quality_product_div2">

      <h4>Innovative, Scalable Solutions</h4>
      <div class="myunderline"></div>

      <p>At Globbly, we understand that every project has unique demands. Our products and services are designed to be
        flexible and scalable, allowing your automation systems to grow with you, adapt to new technologies, and meet
        evolving industry standards.</p>

      <button class="contact_us">
        Learn More
      </button>

    </div>

  </div>
</div>

<div class="container-fluid" id="aboutus">

  <div class="row part4">

    <div class="col-lg-6 quality_product_div2">

      <h4>About Globbly</h4>
      <div class="myunderline"></div>

      <p>Globbly is a leading provider of automation and industrial solutions, connecting businesses worldwide with
        cutting-edge technology and reliable products. We specialize in offering high-quality components like Industrial
        Controls, Power Supplies, PCBs, and PLCs, designed to meet the evolving demands of global industries. With a
        commitment to quality, scalability, and customer satisfaction, Globbly empowers businesses to streamline
        processes and achieve operational excellence on a global scale.</p>

      <button class="contact_us">
        Learn More
      </button>

    </div>

    <div class="col-lg-6 p-md-5 p-3">
      <form [formGroup]="enquiry_form" (ngSubmit)="onSubmit()">
        <div class="row formside">
          <div class="col-12 colheading_part1">
            <h4>Contact Us</h4>
            <p>We’ll get back to you soon</p>
          </div>

          <div class="input_field col-md-6">
            <label for="firstName">First Name</label>
            <input id="firstName" formControlName="firstName" placeholder="First Name" />
            <div *ngIf="firstName?.invalid && firstName?.touched" class="error">
              <small *ngIf="firstName?.errors?.['required']">First Name is required.</small>
              <small *ngIf="firstName?.errors?.['minlength']">First Name must be at least 2 characters long.</small>
              <small *ngIf="firstName?.errors?.['maxlength']">First Name cannot exceed 30 characters.</small>
            </div>
          </div>

          <div class="input_field col-md-6 px-md-2">
            <label for="lastName">Last Name</label>
            <input id="lastName" formControlName="lastName" placeholder="Last Name" />
            <div *ngIf="lastName?.invalid && lastName?.touched" class="error">
              <small *ngIf="lastName?.errors?.['required']">Last Name is required.</small>
              <small *ngIf="lastName?.errors?.['minlength']">Last Name must be at least 2 characters long.</small>
              <small *ngIf="lastName?.errors?.['maxlength']">Last Name cannot exceed 30 characters.</small>
            </div>
          </div>

          <div class="input_field col-12">
            <label for="email">Email</label>
            <input id="email" formControlName="email" placeholder="Email" />
            <div *ngIf="email?.invalid && email?.touched" class="error">
              <small *ngIf="email?.errors?.['required']">Email is required.</small>
              <small *ngIf="email?.errors?.['email']">Enter a valid email address.</small>
            </div>
          </div>

          <div class="input_field col-12">
            <label for="phone">Mobile Number</label>
            <input id="phone" formControlName="phone" placeholder="Mobile Number" />
            <div *ngIf="phone?.invalid && phone?.touched" class="error">
              <small *ngIf="phone?.errors?.['required']">Phone Number is required.</small>
              <small *ngIf="phone?.errors?.['pattern']">Enter a valid phone number.</small>
            </div>
          </div>

          <button type="submit">Submit</button>

        </div>
      </form>



    </div>

  </div>
</div>

<div class="container-fluid footer_scss footcont mt-4">
  <div class="row p-sm-4 p-3">

    <div class="col-lg-5 about_globbly mt-3">

      <img src="assets/images/globbly_logo.png" width="70%" alt="Globbly Logo">
      <div class="newletterfoot mt-5">
        <p>Subscribe to our<span> Newsletter </span></p>

        <form class="mt-2">
          <input type="text" name="emailNewsletter" placeholder="Enter your Email" />
          <button class="joinfoot " type="submit">Join
            Now</button>
        </form>
      </div>

    </div>

    <div class="col-lg-2 col-6 mt-3">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <a class="categoryfoot1"> Category </a>
          </li>

          <li *ngFor="let category of Categories">
            <a (click)="showcontent('category')"> {{category}} </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-2 col-6 mt-3">
      <div class="cateG">
        <ul>
          <li class="categoryfoot">
            <a class="categoryfoot1"> Information</a>
          </li>

          <li>
            <a (click)="showcontent('home')">Home</a>
          </li>

          <li>
            <a (click)="showcontent('newarrivals')">New Arrivals</a>
          </li>
          <li>
            <a (click)="showcontent('blogs')">Blogs</a>
          </li>
          <li>
            <a (click)="showcontent('aboutus')">About Us</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 mt-3">

      <div class="addressfoot">

        <p class="contactfoot">Contact Details</p>

        <p class="addressfoot1">
          <span><img src="assets/Footer/address.png" alt="Address" srcset=""></span>
          27B, Ground Floor, G-1, Opp. NFC, <br>
          New Delhi, South Delhi- 110025, Delhi
        </p>

        <p class="text-color">
          <span><img src="assets/Footer/phone.png" alt="Phone" srcset=""></span>
          <a href="tel:+919911676361">+91 9911676361
          </a>
        </p>


        <p class="text-color">
          <span><img src="assets/Footer/mail.png" alt="Mail" srcset=""></span>
          <a href="mailto:info@globbly.com">{{'info@globbly.com'}}
          </a>
        </p>
      </div>

      <div class="all_icon mt-3">
        <h5>Follow Us</h5>
      </div>
      <div class="all_icon mt-2">

        <a><img src="assets/Footer/facebook.png"
            alt="facebook"></a>
        <a><img src="assets/Footer/instagram.png"
            alt="instagram"></a>
        <a><img src="assets/Footer/linkedin.png"
            alt="linkedin"></a>
        <a><img src="assets/Footer/youtube.png" alt="youtube"></a>
        <a><img src="assets/Footer/x.com.png" alt="twitter"></a>

      </div>
    </div>
    <div class="col-12 mt-5 copy_right">
      <span>&copy; 2024 Globbly Ventures Pvt Ltd, All Right Reserved.</span>
    </div>
  </div>
</div>